@import './layout.scss';

@mixin btn(
	$size: 14px,
	$color: #fff,
	$bgcolor: #f04752,
	$padding: 5px,
	$radius: 5px
) {
	display: inline-block;
	border: 1px solid $bgcolor;
	border-radius: $radius;
	padding: $padding;
	line-height: 1;
	text-align: center;
	font-size: $size;
	color: $color;
	background-color: $bgcolor;
}

@mixin list($direction: column) {
	@include flex($direction);
}

@mixin panel(
	$bgcolor: #fff,
	$padding: 0,
	$margin: 20px 0,
	$height: 112px,
	$txtPadding: 0 32px,
	$color: #333,
	$fontSize: 32px
) {
	margin: $margin;
	padding: $padding;
	background: $bgcolor;

	> h4 {
		padding: $txtPadding;
		height: $height;
		line-height: $height;
		text-align: center;
		font-size: $fontSize;
		color: $color;
		/* 超出显示... */
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		/* 超出显示... */
	}
}
